# emacs autosaves
*~
\#*#
# elpa stuff?
elpa/
# forge db
forge-database*.sqlite
# transient stuff
transient
# straight.el
straight/*
!straight/versions
# projectile
/projectile-bookmarks.eld
/projects

# eshell history
/eshell/*

# LSP stuff
/.lsp-session-*

# custom
custom.el

# elpy
elpy/**

# some kind of cache?
.cache

# DAP breakpoints cache
.dap-breakpoints

# projectile cache
projectile.cache

# elisp native cache
eln-cache