# emacs autosaves
*~
\#*#
# elpa stuff?
elpa/
# forge db
forge-database*.sqlite
# some other dirs
transient
# straight.el
straight/*
!straight/versions
# projectile
/projectile-bookmarks.eld
/projects
/eshell/*
/.lsp-session-*

# local settings
local-settings/**

# elpy
elpy/**

# some kind of cache?
.cache

# DAP breakpoints cache
.dap-breakpoints

# projectile cache
projectile.cache

# elisp native cache
eln-cache